= form_for @security do |f|
	#login-title
		Membership Fee Portal
	#secret-container
		Please enter site password
		.field
			-if flash[:error]
				= f.password_field :secret, :autofocus => true, :placeholder=>"Invalid Password", :style=>"background-color: #fcf884"
			-else
				= f.password_field :secret, :autofocus => true, :placeholder=>"Password"
		.actions
			= f.submit 'Enter', :class=>"confirm btn btn-primary", :id=>"loginButton"
			#login-notes
				%br
				If you do not have the password or have forgotten it, please send an email to your administrator and they can supply you with it.
