/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap.min
 *= require_self
 *= require_tree .
 *= require jquery-ui/ui-lightness
 */

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../assets/glyphicons-halflings-regular.eot');
  src: url('../assets/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), 
       url('../assets/glyphicons-halflings-regular.woff') format('woff'), 
       url('../assets/glyphicons-halflings-regular.ttf') format('truetype'), 
       url('../assets/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

body {
  background-color: #ececec;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

@media print {
    .print-hidden { display: none !important }
	
	.backstretch { display: none !important; }
	
	body {
	  background-image:none !important;
 	  background-color: #FFF;
	  color: #333;
	  font-family: verdana, arial, helvetica, sans-serif;
	  font-size: 13px;
	  line-height: 18px;
	}
}

.page-header {
	border-bottom: none;
	width: 500px;
	margin: 0 auto;
	background: url(/assets/logo.png) no-repeat;
	background-size: Auto 40px;
	height: 40px;
	position: relative;
	padding-bottom: 50px;
	color: #FFF;
}

.canada-label {
	position: absolute;
	top: 34px;
	left: 175px;
	font-size: 10px;
}
#login-title {
	padding-top: 5px;
	padding-left: 0px;
	width: 360px;
	margin: 0 auto;
	font-size: 18px;
	text-align: center;
	color: #FFF;
}

#login-notes {
	font-size: 10px;
	line-height: 120%;
}
#secret-container {
	background-color: #FFF;
	border: 1px solid #ABABAB;
	width: 300px;
	height: 220px;
    left:50%;
    top:50%;
	position: absolute;
    margin:-75px 0 0 -150px;
	border-radius: 20px;
	padding: 20px;
	text-align: center;
	font-size: 18px;
	border: 4px solid gray;
}

#security_secret {
	margin-top: 20px;
	width: 200px;
	height: 30px;
	font-size: 18px;
	text-align: center;
}

.fee-container {
	border-radius: 20px 20px 0 0;
	height: 100%;
	width: 500px;
	margin: 0 auto;
	background-color: #FFF;
	padding: 10px;
}

.ui-container, .report-container {
	height: 100%;
	width: 100%;
	background-color: #FFF;
	padding: 20px;
	
}
.fee-data {
	padding-top: 15px;
	border-top: 1px solid #ABABAB;
	position: relative;
}
.fee-overlay {
	position: absolute;
	top: 20px;
	left: -10px;
	width: 500px;
	height: 190px;
	background-color: #000;
	opacity: .5;
	text-align: center;
	color: #FFF;
	font-size: 22px;
}

.exclusions {
	padding-left: 40px;
	
}
div.field {
	margin-bottom: 2px;
}

.minus {
	background: url(/assets/minus.png) no-repeat;
	height: 15px;
	width: 16px;
	float: left;
	margin-right: 20px;
}

#adjusted-receipts {
	width: 100px;
	text-align: right;
}

#membership-fee, #taxes, #fee{
	width: 100px;
	float: left;
	text-align: right;
}

.fee-td {
	width: 200px;
}

#adjust-link {
	width: 70px;
	float: right;
}
label{
  width: 4em;
  float: left;
  text-align: left;
  margin-right: 2em;
  display: block
}
.padded-label {
  margin-right: 2.0Fem;
	
}
input {
	width: 100px;
}
.finance-table label {
	width: 180px;
}
.indent30 {
	padding-left: 30px;
}
.bold {
	font-weight: bold;
}
.underline {
	border-bottom: 1px solid #ababab;
}
.actions {
	padding-top: 30px;
	float: right;
}
.hidden {
	display: none;
}

#left-table {
	float: left;
}

#error_explanation {
	font-size: 10px;
	border: 1px solid #ABABAB;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 10px	;
}
#error_explanation h2 {
	color: red;
	font-size: 10px;
}
#right-table {
	float: right;	
}

.fee-table-container {
	background-color: #FFF;
	height: 350px;
}
.fee-table {
	margin-top: 20px;
	width: 240px;
	border: 1px solid #ececec;
	background-color: #FFF;
}
.fee-table .fee-header {
	background-color: #ECECEC;
}
.fee-table td {
	font-size: 10px;
	border: 1px solid #ececec;
}

.fee-table .double  {
	border-bottom: 1px solid white !important;
	border-top: 1px solid white !important;
}

.fee-table .title {
	text-align: center;
}

.numeric-display {
	text-align: right;
}

.rowOn {
	/*background-color: #bec7ed; TODO: add row highlighting back in*/
}

.money-input {
	text-align: right;
}



#clinicReport {
	background-color: #FFF;
}

#clinicReport td {
	padding-left: 20px;
	padding-right: 5px;
	border: 1px solid #ababab;
}

.report-header {
	font-weight: bold;
	background-color: #ececec;
}

#clinic-display-box {
    display: inline-block;
}
#clinic-display {
	padding-right: 5px	;
}
.change-button {
	margin-top: 2px;
	opacity: .7;
	background: url(/assets/x-close.jpeg) no-repeat;
	background-size: 16px 16px;
	width: 16px;
	height: 16px;
	cursor: pointer;
	float: right;
}

.btn-custom {
  background-color: hsl(201, 100%, 30%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00a5ff", endColorstr="#006399");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#00a5ff), to(#006399));
  background-image: -moz-linear-gradient(top, #00a5ff, #006399);
  background-image: -ms-linear-gradient(top, #00a5ff, #006399);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00a5ff), color-stop(100%, #006399));
  background-image: -webkit-linear-gradient(top, #00a5ff, #006399);
  background-image: -o-linear-gradient(top, #00a5ff, #006399);
  background-image: linear-gradient(#00a5ff, #006399);
  border-color: #006399 #006399 hsl(201, 100%, 25%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
  -webkit-font-smoothing: antialiased;
}