<!DOCTYPE html>
<html>
<head>
  <title>Vsmembership</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= yield %>

<script>

	var clinics;
	var clinicId;
	$(document).ready(function() {
		$(".month-edit-toggle").click(function(e) {
			var id = $(this).attr("data-id");
			var month = $(this).attr("data-month");
			var year = $("#" + id + "_year").text();
			
			$("#" + id + "_form_month").show();
			$("#" + id + "_form_year").show();
			$("#" + id + "_lbl_month").hide();
			$("#" + id + "_lbl_year").hide();
			$("#save_button_" + id).show();
			$("#cancel_button_" + id).show();
			$("#view_button_" + id).hide();
		});
		$(".year-edit-toggle").click(function() {
			var id = $(this).attr("data-id");
			var month = $("#" + id + "_month").text();
			var year = $(this).attr("data-year");

			$("#" + id + "_form_month").show();
			$("#" + id + "_form_year").show();
			$("#" + id + "_lbl_month").hide();
			$("#" + id + "_lbl_year").hide();
			$("#save_button_" + id).show();
			$("#cancel_button_" + id).show();
			$("#view_button_" + id).hide();
			
		});
		$(".month_select").click(function() {
			
		});
	});
	$(window).load(function() {
		$('#year_id').change(function (e) {
			updateMonthLink();
		})
		$('#month_id').change(function (e) {
			updateMonthLink();
		})
		
		if ($("#membership_fee_clinic").val() != null) {
			$.ajax({
			    type: "GET",
			    url: "/clinics",    
			    dataType: "json",
			    success: function(data){
					clinics=data;
				    var obj = clinics;
					for (var i = 0; i<obj.length; i++) {
					    obj[i].label = obj[i].name;
					    obj[i].clinic_id = obj[i].id;
						obj[i].province = obj[i].province;
						obj[i].email = obj[i].email

					    delete obj[i].name;
					    delete obj[i].id;
						delete obj[i].url;
						delete obj[i].doctor;
					}
					$( "#membership_fee_clinic" ).autocomplete({
					      minLength: 0,
					      source: obj,
						select: function( event, ui ) {
							clinicId = ui.item.clinic_id;
							$("#membership_fee_clinic_id").val(ui.item.clinic_id);
							$( "#membership_fee_clinic" ).val(ui.item.label );					

							if (clinicId > 0) {	
								$("#clinic-link").attr("href", "/reports/show?mode=clinic&clinic="+ui.item.clinic_id);
								$("#fee_table_1").hide();																
								$("#fee_table_2").hide();
								$("#fee_table_" + ui.item.model_id).show();
								$(".fee-overlay").hide();
								$("#override-link").show();
								$("#saveButton").show();
								if(ui.item.model_id == 1)
									fees = fees_1;
								else
									fees = fees_2;	
								if(ui.item.admin == true) {
									$("#override-link").show();
								}
								else {
									$("#override-link").hide();
								}


								$("#clinic_email").val(ui.item.email)
								$("#clinic-display-box").show();
								$("#clinic-display").text(ui.item.label);
								$("#clinic-select").hide();

								$("#membership_fee_month").focus();

								//getTaxRecord(ui.item.province)

								//processFees();
							} else {
								$("#clinic-link").attr("href", "javascript:alert('Make sure you select a clinic.')");
							}

						 }
					})
					.data( "ui-autocomplete" )._renderItem = function( ul, item ) {
					      return $( "<li>" )
					        .append( "<a>" + item.label + "<br><span style='font-size: 10px'>Vision Source ID: " + item.vsid + " - " + item.address + "</span></a>" )
					        .appendTo( ul );
					};

			    }
			  });
			}

	});
	
	function removeFee(id) {
		var _id = id
		//PUT	 /membership_fees/:id(.:format)	 membership_fees#update
		var udpateStr = {membership_fee: {record_status: "inactive"}};
		$.ajax({
		    url: "/membership_fees/" + id,
		    type: 'PUT',
		    data: JSON.stringify(udpateStr),
	        contentType: "application/json; charset=utf-8",
		    dataType: 'application/json',
	        statusCode: {
			    200: function() {
					$("#table_row_" + _id).fadeOut(400)
			    }
			  }
		});
		
	}
	
	function restoreFee(id) {
		var _id = id
		//PUT	 /membership_fees/:id(.:format)	 membership_fees#update
		var udpateStr = {membership_fee: {record_status: "active"}};
		$.ajax({
		    url: "/membership_fees/" + id,
		    type: 'PUT',
		    data: JSON.stringify(udpateStr),
	        contentType: "application/json; charset=utf-8",
		    dataType: 'application/json',
	        statusCode: {
			    200: function() {
					$("#table_row_" + _id).fadeOut(400)
			    }
			  }
		});
		
	}

	function saveDates(id) {
		var _month = $("#month_select_" + id).find(":selected").val();
		var _year = $("#year_select_" + id).find(":selected").val();
		var _id = id
		//PUT	 /membership_fees/:id(.:format)	 membership_fees#update
		var udpateStr = {membership_fee: {month: _month, year: _year}};
		
		$.ajax({
		    url: "/membership_fees/" + id,
		    type: 'PUT',
		    data: JSON.stringify(udpateStr),
	        contentType: "application/json; charset=utf-8",
		    dataType: 'application/json',
	        statusCode: {
			    200: function() {
					$("#" + _id + "_form_month").hide();
					$("#" + _id + "_form_year").hide();
					$("#" + _id + "_lbl_month").text(_month);
					$("#" + _id + "_lbl_year").text(_year);
					$("#" + _id + "_lbl_month").show();
					$("#" + _id + "_lbl_year").show();
					$("#save_button_" + _id).hide();
					$("#cancel_button_" + _id).hide();
					$("#view_button_" + _id).show();
					
			    }
			  }
		});
	}
	
	function cancelEdit(id) {
		$("#" + id + "_form_month").hide();
		$("#" + id + "_form_year").hide();
		$("#" + id + "_lbl_month").show();
		$("#" + id + "_lbl_year").show();
		$("#save_button_" + id).hide();
		$("#cancel_button_" + id).hide();
		$("#view_button_" + id).show();		
	}
</script>
</body>
</html>
