<!DOCTYPE html>
<html>
<head>
  <title>Vsmembership</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="header print-hidden">
		<div class="canada-label">
			Canada
		</div>
	</div>
<%= yield %>

<script>

	var clinics;

	$('#membership_fee_receipts').numeric({negative: false});
	$('#membership_fee_creditcard').numeric({negative: false});
	$('#membership_fee_refunds').numeric({negative: false});
	$('#membership_fee_tax').numeric({negative: false});

	$('#membership_fee_receipts').keyup(function(e){
			processFees();
	});
	$('#membership_fee_creditcard').keyup(function(e){
			processFees();
	});
	$('#membership_fee_refunds').keyup(function(e){
			processFees();
	});
	$('#membership_fee_tax').keyup(function(e){
			processFees();
	});
	$('#year_id').change(function (e) {
		updateMonthLink();
	})
	$('#month_id').change(function (e) {
		updateMonthLink();
	})
	$('#override-link').click(function(e) {
		$('#override-link').hide();
		$('#membership-fee').hide();
		$('#membership_fee_fee').show();
		$('#membership_fee_fee').val($("#membership-fee").text());
	
		return false;
	})

	$('#membership_fee_fee').keyup(function(e){
		processOverride();
	});

	$.ajax({
	    type: "GET",
	    url: "/fees",    
	    dataType: "json",
	    success: function(data){
			fees=data;
	    }
	  });
	$.backstretch("/assets/stairs.jpg");
	if ($("#membership_fee_clinic").val() != null) {
		$.ajax({
		    type: "GET",
		    url: "/clinics",    
		    dataType: "json",
		    success: function(data){
				clinics=data;
			    var obj = clinics;
				for (var i = 0; i<obj.length; i++) {
				    obj[i].label = obj[i].name;
				    obj[i].clinic_id = obj[i].id;
				    delete obj[i].name;
				    delete obj[i].id;
					delete obj[i].url;
					delete obj[i].doctor;
				}
				$( "#membership_fee_clinic" ).autocomplete({
				      minLength: 0,
				      source: obj,
					select: function( event, ui ) {
						clinicId = ui.item.clinic_id;
						$("#membership_fee_clinic_id").val(ui.item.clinic_id);
						$( "#membership_fee_clinic" ).val(ui.item.label );					
					
						if (clinicId > 0) {	
							$("#clinic-link").attr("href", "/reports/show?mode=clinic&clinic="+ui.item.clinic_id);
						} else {
							$("#clinic-link").attr("href", "javascript:alert('Make sure you select a clinic.')");
						}
					
					 }
				})
				.data( "ui-autocomplete" )._renderItem = function( ul, item ) {
				      return $( "<li>" )
				        .append( "<a>" + item.label + "<br><span style='font-size: 10px'>Vision Source ID: " + item.vsid + " - " + item.address + "</span></a>" )
				        .appendTo( ul );
				};

		    }
		  });
		}
</script>
</body>
</html>
