<!DOCTYPE html>
<html>
<head>
  <title>Vsmembership</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="header print-hidden">
		<div class="canada-label">
			Canada
		</div>
	</div>
<%= yield %>

<script>
	$.backstretch("/assets/stairs.jpg");
	
	$.ajax({
	    type: "GET",
	    url: "/clinics",    
	    dataType: "json",
	    success: function(data){
			clinics=data;
		    var obj = clinics;
			for (var i = 0; i<obj.length; i++) {
			    obj[i].label = obj[i].name;
			    obj[i].clinic_id = obj[i].id;
			    delete obj[i].name;
			    delete obj[i].id;
				delete obj[i].url;
				delete obj[i].doctor;
			}
			$( "#membership_fee_clinic" ).autocomplete({
			      minLength: 0,
			      source: obj,
				select: function( event, ui ) {
					clinicId = ui.item.clinic_id;
					$("#membership_fee_clinic_id").val(ui.item.clinic_id);
					$( "#membership_fee_clinic" ).val( ui.item.label );					
					
					if (clinicId > 0) {	
						$("#clinic-link").attr("href", "/reports/show?mode=clinic&clinic="+ui.item.clinic_id);
					} else {
						$("#clinic-link").attr("href", "javascript:alert('Make sure you select a clinic.')");
					}
					
				 }
			})
			.data( "ui-autocomplete" )._renderItem = function( ul, item ) {
			      return $( "<li>" )
			        .append( "<a>" + item.label + "<br><span style='font-size: 10px'>" + item.address + "</span></a>" )
			        .appendTo( ul );
			};

	    }
	  });
</script>
</body>
</html>
