<!DOCTYPE html>
<html>
<head>
  <title>Vsmembership</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="header print-hidden">
		<div class="canada-label">
			Canada
		</div>
	</div>
<%= yield %>

<script>

	var clinics;

	$("#new_membership_fee :input").on("keypress", function(e) {
	    return e.keyCode != 13;
	});
	
	$('#membership_fee_receipts').numeric({negative: false});
	$('#membership_fee_creditcard').numeric({negative: false});
	$('#membership_fee_refunds').numeric({negative: false});
	$('#membership_fee_tax').numeric({negative: false});

	$("#override-link").hide();
	$("#saveButton").hide();
	$("#clinic-display-box").hide();
	$('#membership_fee_receipts').keyup(function(e){
			processFees();
	});
	$('#membership_fee_creditcard').keyup(function(e){
			processFees();
	});
	$('#membership_fee_refunds').keyup(function(e){
			processFees();
	});
	$('#membership_fee_tax').keyup(function(e){
			processFees();
	});
	$('#year_id').change(function (e) {
		updateMonthLink();
	})
	$('#month_id').change(function (e) {
		updateMonthLink();
	})
	$('#override-link').click(function(e) {
		$('#override-link').hide();
		$('#membership-fee').hide();
		$('#membership_fee_fee').show();
		$('#membership_fee_fee').val($("#membership-fee").text());
	
		return false;
	})

	$('#change-button').click(function(e) { 
		$("#clinic-display-box").hide();
		$("#clinic-display").text("");
		$( "#membership_fee_clinic" ).val("" );		
		$("#clinic-select").show();
		$("#membership_fee_clinic_id").val(null);
		$(".fee-overlay").show();
		$("#override-link").hide();
		$("#saveButton").hide();
		$("#membership_fee_clinic").focus();
		return false;
	
	});

	$('#membership_fee_fee').keyup(function(e){
		processOverride();
	});

	$.ajax({
	    type: "GET",
	    url: "/models/1.json",    
	    dataType: "json",
	    success: function(data){
			fees=data;
			fees_1 = data;
	    }
	  });
	$.ajax({
	    type: "GET",
	    url: "/models/2.json",    
	    dataType: "json",
	    success: function(data){
			fees_2 = data;
	    }
	  });
	$.backstretch("/assets/stairs.jpg");
	if ($("#membership_fee_clinic").val() != null) {
		$.ajax({
		    type: "GET",
		    url: "/clinics",    
		    dataType: "json",
		    success: function(data){
				clinics=data;
			    var obj = clinics;
				for (var i = 0; i<obj.length; i++) {
				    obj[i].label = obj[i].name;
				    obj[i].clinic_id = obj[i].id;
				    delete obj[i].name;
				    delete obj[i].id;
					delete obj[i].url;
					delete obj[i].doctor;
				}
				$( "#membership_fee_clinic" ).autocomplete({
				      minLength: 0,
				      source: obj,
					select: function( event, ui ) {
						clinicId = ui.item.clinic_id;
						$("#membership_fee_clinic_id").val(ui.item.clinic_id);
						$( "#membership_fee_clinic" ).val(ui.item.label );					
					
						if (clinicId > 0) {	
							$("#clinic-link").attr("href", "/reports/show?mode=clinic&clinic="+ui.item.clinic_id);
							$("#fee_table_1").hide();																
							$("#fee_table_2").hide();
							$("#fee_table_" + ui.item.model_id).show();
							$(".fee-overlay").hide();
							$("#override-link").show();
							$("#saveButton").show();
							if(ui.item.model_id == 1)
								fees = fees_1;
							else
								fees = fees_2;							
							$("#clinic-display-box").show();
							$("#clinic-display").text(ui.item.label);
							$("#clinic-select").hide();
							
							$("#membership_fee_month").focus();
							
							processFees();
						} else {
							$("#clinic-link").attr("href", "javascript:alert('Make sure you select a clinic.')");
						}
					
					 }
				})
				.data( "ui-autocomplete" )._renderItem = function( ul, item ) {
				      return $( "<li>" )
				        .append( "<a>" + item.label + "<br><span style='font-size: 10px'>Vision Source ID: " + item.vsid + " - " + item.address + "</span></a>" )
				        .appendTo( ul );
				};

		    }
		  });
		}
</script>
</body>
</html>
