<!DOCTYPE html>
<html>
<head>
  <title>Vsmembership</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="page-header print-hidden">
		<div class="canada-label">
			Canada
		</div>
	</div>
<%= yield %>

<script>

	var clinics;
	var clinicId;
	$("#saveButton").click(function(e) {
		month = $("#membership_fee_month option:selected").text()
		year = $("#membership_fee_year option:selected").text()

		url = "/membership_fees.json?clinic=" + clinicId + "&month=" + month + "&year=" + year;

		$.ajax({
		    type: "GET",
		    url: url,    
		    dataType: "json",
		    success: function(data){
				if(data.length > 0) {
					$.confirm({
					    text: "A submission for the selected month already exists. Please verify you have entered the correct month. If you choose to continue we will override the previous submission. Do you wish to continue saving this form?",
					    confirm: function(button) {
							$("#new_membership_fee").submit();
					    },
					    cancel: function(button) {
					        // do nothing
					    },
						confirmButton: "Continue",
						cancelButton: "Cancel"
					});
				}
				else {
					$("#new_membership_fee").submit();
				}
		    }
		  });


		return false;
	});
	
	$("#new_membership_fee :input").on("keypress", function(e) {
	    return e.keyCode != 13;
	});
	
	$('#membership_fee_receipts').numeric({negative: false});
	$('#membership_fee_creditcard').numeric({negative: false});
	$('#membership_fee_refunds').numeric({negative: false});
	$('#membership_fee_tax').numeric({negative: false});

	$("#override-link").hide();
	$("#saveButton").hide();
	$("#clinic-display-box").hide();
	$('#membership_fee_receipts').keyup(function(e){
			processFees();
	});
	$('#membership_fee_creditcard').keyup(function(e){
			processFees();
	});
	$('#membership_fee_refunds').keyup(function(e){
			processFees();
	});
	$('#membership_fee_tax').keyup(function(e){
			processFees();
	});
	$('#membership_fee_taxadd').keyup(function(e){
			processFees();
	});
	$('#year_id').change(function (e) {
		updateMonthLink();
	})
	$('#month_id').change(function (e) {
		updateMonthLink();
	})
	$('#override-link').click(function(e) {
		override = true;
		$('#override-link').hide();
		$('#fee-row').hide();
		//$('#membership-fee').hide();
		//$('#membership_fee_fee').show();
		$('#membership_fee_fee').val($("#membership-fee").text());
		$("#override-row").show();
	
		$("#fee-override").val($("#fee").text())
		$('#fee-override').select();
		return false;
	})

	$('#change-button').click(function(e) { 
		$("#clinic-display-box").hide();
		$("#clinic-display").text("");
		$( "#membership_fee_clinic" ).val("" );		
		$("#clinic-select").show();
		$("#membership_fee_clinic_id").val(null);
		$(".fee-overlay").show();
		$("#override-link").hide();
		$("#saveButton").hide();
		$("#membership_fee_clinic").focus();
		$('#fee-row').show();
		$("#override-row").hide();
		
		override=false;
		processFees();
		return false;
	
	});

	$('#fee-override').keyup(function(e){
		processOverride();
	});

	$.ajax({
	    type: "GET",
	    url: "/taxes.json",    
	    dataType: "json",
	    success: function(data){
			taxes=data;
	    }
	  });

	$.ajax({
	    type: "GET",
	    url: "/models/1.json",    
	    dataType: "json",
	    success: function(data){
			fees=data;
			fees_1 = data;
	    }
	  });
	$.ajax({
	    type: "GET",
	    url: "/models/2.json",    
	    dataType: "json",
	    success: function(data){
			fees_2 = data;
	    }
	  });
	$.backstretch("/assets/cave.jpg");
	if ($("#membership_fee_clinic").val() != null) {
		$.ajax({
		    type: "GET",
		    url: "/clinics",    
		    dataType: "json",
		    success: function(data){
				clinics=data;
			    var obj = clinics;
				for (var i = 0; i<obj.length; i++) {
				    obj[i].label = obj[i].name;
				    obj[i].clinic_id = obj[i].id;
					obj[i].province = obj[i].province;

				    delete obj[i].name;
				    delete obj[i].id;
					delete obj[i].url;
					delete obj[i].doctor;
				}
				$( "#membership_fee_clinic" ).autocomplete({
				      minLength: 0,
				      source: obj,
					select: function( event, ui ) {
						clinicId = ui.item.clinic_id;
						$("#membership_fee_clinic_id").val(ui.item.clinic_id);
						$( "#membership_fee_clinic" ).val(ui.item.label );					
					
						if (clinicId > 0) {	
							$("#clinic-link").attr("href", "/reports/show?mode=clinic&clinic="+ui.item.clinic_id);
							$("#fee_table_1").hide();																
							$("#fee_table_2").hide();
							$("#fee_table_" + ui.item.model_id).show();
							$(".fee-overlay").hide();
							$("#override-link").show();
							$("#saveButton").show();
							if(ui.item.model_id == 1)
								fees = fees_1;
							else
								fees = fees_2;	
							if(ui.item.admin == true) {
								$("#override-link").show();
							}
							else {
								$("#override-link").hide();
							}
							
							$("#clinic-display-box").show();
							$("#clinic-display").text(ui.item.label);
							$("#clinic-select").hide();
							
							$("#membership_fee_month").focus();
							
							getTaxRecord(ui.item.province)
							
							processFees();
						} else {
							$("#clinic-link").attr("href", "javascript:alert('Make sure you select a clinic.')");
						}
					
					 }
				})
				.data( "ui-autocomplete" )._renderItem = function( ul, item ) {
				      return $( "<li>" )
				        .append( "<a>" + item.label + "<br><span style='font-size: 10px'>Vision Source ID: " + item.vsid + " - " + item.address + "</span></a>" )
				        .appendTo( ul );
				};

		    }
		  });
		}
</script>
</body>
</html>
